extends ../layout/layout.jade

block content
  div.container
    form(name="reg", method="post", action="/user/forget")
      div.app-section
        input.app-input(name="username" type="tel" placeholder="手机号")
      div.app-section
        input.app-input(name="password" placeholder="请输入登录密码" type="password")
        input.app-input(name="confirmPassword" placeholder="请再一次输入密码" type="password")
      div.app-section
        input.app-input(name="verifyCode" placeholder="请输入收到的验证码" type="number")
        a.app-button.dark-blue#sendCode 发送验证码
      div.app-section
        button.app-button.green 确定



block scriptBlock
  script.
    $(function () {
      if ("#{message}") {
        $.toast("#{message}");
      }

      var fileds = [{
        name: "username",
        display: "手机号",
        rules: "required|exact_length[11]"
      },{
        name: "password",
        display: "密码",
        rules: "required|min_length[6]"
      },{
        name: "confirmPassword",
        display: "确认密码",
        rules: "required|matches[password]"
      },{
        name: "verifyCode",
        display: "手机验证码",
        rules: "required"
      }];
      var validator = new FormValidator("reg", fileds, function(errors, event) {
        if(errors && errors.length > 0) {
          $.toast(errors[0].message);
        }
      });
      validator.setMessage("required", "请输入正确的%s!");

      var id = null;
      $("#sendCode").click(function() {  
        var self = $(this);
        var mobile = $("input[name='username']").val();
        if (mobile && /\d{11}/.test(mobile)) {
          if (id != null) {
            return;
          }
          var count = 60;
          id = setInterval(function(){
            count--;
            self.text("发送验证码" + "("+count+")");
            if (count <= 0) {
              self.text("发送验证码");
              clearInterval(id);
              id = null;
            }
          }, 1000);
          getMobileCode(mobile, VerifyCodeType.ResetPassword, function(data) {
            if (data.success) {
              $.toast("发送成功. 请查看你的手机~");
            }
          });
        } else {
          $.toast("请输入正确的手机号!");
        }
      })
    })   