extends ../layout/layout.jade

block content
  div.container
    div.user-info
      div.user-image
        img(src=user.headIco) 
      div.user-detail
        div.user-name 用户名: 
          span= user.username
        
    div.app-section
      a.list-item(href="/user/order")
        div
          span 我的订单
          i
      a.list-item(href="/user/address")
        div
          span 我的地址
          i
    div.app-section
      button.app-button.dark-blue#logout 退出登录

block scriptBlock
  script.
    $("#logout").click(function() {
      $.dialog({
        title: constants.logoutTitle,
        text: constants.logoutText,
        success: constants.cancel,
        failed: constants.confirm 
      }, $.noop, function() {
        location.href = "/user/logout";
      });
    });

