@import "normalize.css";
@import "variables";
//Main.less
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e8eaef;
}
a {
  text-decoration: none;
}
.nothing-section {
  text-align: center;
  margin-top: 10px;
}
.app-section {
  margin: 16px;
  padding: 8px;
  background: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  >:first-child {
    margin-top: 0;
    border-top: 0;
  }
  > * {
    border-radius: 4px;
    margin: 8px 0 0;
  }
  .list-item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.app-input {
  height: 44px;
  background: #FFF;
  line-height: 24px;
  border: 0;
  padding: 10px 12px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.app-select {
  width: 100%;
}
.app-block {
  display: block;
  line-height: 20px;
}
.app-button {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  text-decoration: none;
  border: 0;
}
.app-small-button {
  text-align: center;
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
}
.list-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 6px;
  display: block;
  color: black;
}
// Header.less
.header-bar {
  height: 44px;
  line-height: 44px;
  background-color: @main-color;
  color: @font-color;
  text-align: center;
  .f(17px);
  .header-left {
    position: absolute;
    left: 10px;
    .f(25px);
    span {
      .f(17px);
      float: right;
      margin-left: 5px;
    }
  }
  .header-right {
    position: absolute;
    right: 10px;
    top: 0px;
    a {
      color: @font-color;
    }
  }
  .header-title {
    // display: inline-block;
    .f(20px);
  }
}
//Layout.less
.container {
  margin-bottom: 50px;
}
//Home.less
.product-section {
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  a {
    text-decoration: none;
  }
  .product-item {
    color: black;
    padding: 8px;
    text-align: center;
    img {
      height: 200px;
    }
    .product-detail {
      .product-name {
        .f(20px);
        margin-bottom: 10px;
        padding: 0 10px;
      }
      .product-bottom {
        text-align: left;
        .left {
          margin-left: 20px;
          display: inline-block;
          i {
            color: @main-color;
            .f(16px)
          }
        }
      }
      .product-price {
        .f(20px);
        color: @main-color;
        height: 30px;
        line-height: 30px;
      }
      .product-purchase {
        display: inline-block;
        float: right;
        text-align: center;
      }
    }
  }
}
//Product.less
.product-detail-page {
  margin-bottom: 55px;
  .product-slider {
    img {
      width: 100%
    }
  }
  .product-info {} .product-detail {
    .product-description {
      br {
        display: none;
      }
      img {
        width: 100%;
        display: inherit;
      }
    }
  }
}
.product-footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  > div {
    height: 55px;
    line-height: 55px;
    display: inline-block;
    width: 50%;
    text-align: center;
    color: white;
    .f(22px);
    font-weight: bold;
  }
  .add-cart {
    background-color: #fb6aae;
    box-shadow: 0 0 7px #fb6aae, 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 rgba(0, 0, 0, 0.18);
  }
  .purchase {
    background-color: @main-color;
    box-shadow: 0 0 7px @main-color, 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 rgba(0, 0, 0, 0.18);
  }
}
//User.less
.user-info {
  background-color: #334455;
  padding: 10px 0 10px 16px;
  color: #ccc;
  font-size: 12px;
  .user-image {
    display: inline-block;
    img {
      border-radius: 3px;
    }
  }
  .user-detail {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    .user-name {
      margin-top: 5px;
    }
  }
}
.order-section {
  padding: 10px 20px;
  border-bottom: 1px solid #AAA;
  text-overflow: ellipsis;
  white-space: nowrap;  
  overflow: hidden;
  background-color: #FFF;
  position: relative;
  color: #444;
  .order-actions{
    position: absolute;
    right: 15px;
    top: 10px;
    a {
      display: block;
    }
  }
  table {
    margin-top: 30px;
    width: 100%;
    line-height: 25px;
  }
}
//Footer.less
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  .footer-bar {
    border-top: 1px solid #c4c4c4;
    background-color: @gray-color;
    height: 44px;
    a {
      text-decoration: none;
      color: @footer-color;
      width: 60px;
      display: block;
      &.active {
        color: #007aff;
      }
    }
    ul {
      list-style: none;
      text-align: center;
      padding-top: 4px;
      .f(12px);
      li {
        display: inline-block;
        i {
          display: block;
          height: 23px;
          .f(23px);
        }
      }
    }
  }
}
//Help.less
.f(@size) {
  font-size: @size;
}
.btn {
  width: 90px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: @main-color;
  text-align: center;
  display: block;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.green {
  background-color: #3C7;
  color: @font-color;
}
.dark-blue {
  background-color: #345;
  color: @font-color;
}
.red {
  background-color: #dd4539;
  color: @font-color;;
}
.yellow {
  background-color: #F0AC63;
  color: @font-color;
}
.black-font {
  color: black;
}
//Dialog.less

.app-dialog-container {
  display: none;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  .f(12px);
  .app-dialog {
    position: absolute;
    bottom: 50%;
    padding-bottom: 8px;
    width: 80%;
    margin: 0 10%;
    background-color: #eeeeea;
    border-top: 1px solid #FFF;
    transform: translateY(50%);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.85);
    color: #777;
    .title {
      position: relative;
      margin-bottom: 8px;
      padding: 16px 20px 0;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }
    .text {
      margin-top: 8px;
      padding: 0 20px 8px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
    .button {
      height: 60px;
      color: #17B;
      font-size: 22px;
      font-weight: 300;
      line-height: 60px;
      text-align: center;
    }
    .success {
      color: #3C7;
    }
    .failed {
      color: #E54;
    }
  }
  .app-toast {
    position: absolute;
    bottom: 50%;
    width: 80%;
    margin: 0 10%;
    background-color: #eeeeea;
    transform: translateY(50%);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.85);
    color: #777;

    .message {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      height: 30px;
      line-height: 30px;
    }
  }
}

// Cart.less

.cart-list {
  .item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
    .left {
      display: inline-block;
      width: 25%;
      vertical-align: top;
      img {
        width: 59px;
        height: 59px;
      }
    }
    .right {
      width: 45%;
      display: inline-block;
      .name {
        a {
          height: 2.3em;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.2em;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-decoration: none;
          color: #000;
        }
      }
      .qty-editor {
        margin: 10px 0 5px;
        span {
          width: 32px;
          height: 24px;
          display: inline-block;
          text-align: center;
          line-height: 24px;
          border: 1px solid #ccc;
          background-color: #fff;
        }
        .qty-val {
          border: solid #ccc;
          border-width: 1px 0 1px 0; 
        }
      }
    }
    .qty {
      width: 26%;
      float: right;
      display: inline-block;
      text-align: right;
      .p-price {
        color: #C43;  
        font-weight: bold;
        margin-right: 10px;
        .f(15px);
        i {
          margin-right: 3px;
        }
      }
      .delete {
        .f(30px);
        margin: 5px 10px 0 0;
      }
    }
  }
}
.totals {
  font-weight: bold;
  text-align: right;
}
.create-order {
  text-align: right;
  a {
    display: inline-block;
  }
}

//Order.less

.order-item-list {
  .img {
    width: 30px;
    height: 30px;
  }
  .name {
    padding: 10px
  }
  .num {
    width: 25px
  }
  .price {
    white-space: nowrap;
    i {
      font-size: smaller;
    }
  }
}

.order-price, .delivery-price, .total-price{
  border-top: 1px solid #AAA;
  height: 43px;
  line-height: 43px;
  padding: 0 8px 0 5px;
  border-radius: 0px;
  margin-top: 0px;
  .left {
    display: inline-block;
  }
  .right {
    display: inline-block;
  }
}