extends ../layout/layout.jade

block content
  div.contrainer
    div.product-detail-page
      div.product-slider
      div.product-info
        product.name
        product.sellPrice

      div.product-detail
        p= "商品详情"